*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    color: purple;
}
h1{
    height:100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}